{% extends 'blog/base.html' %}

{% block title %}
Подробнее
{% endblock %}

{% block content %}
<style>
    #id_text {
        width: 100%;
    }
</style>

<div style="text-align: center; margin: 20px 0;">
    <a class="btn btn-secondary" href="{% url 'post_list' %}"
       style="text-decoration: none;margin: 5px;font-size: 15px; border-radius: 20px; padding: 10px 15px;">
        Назад
    </a>
    <a class="btn btn-danger" href="{% url 'post_delete' post.pk %}"
       style="text-decoration: none;margin: 5px;font-size: 15px; border-radius: 20px; padding: 10px 15px;">
        Удалить
    </a>
    <a class="btn btn-primary" href="{% url 'post_edit' post.pk %}"
       style="text-decoration: none;margin: 5px;font-size: 15px; border-radius: 20px; padding: 10px 15px;">
        Редактировать
    </a>
</div>

<div class="card" style="margin: 20px; padding: 15px">
    <h3 class="title" style="text-align: center">
        {{ post.title }}
    </h3>
    <p class="created_date" style="text-align: center; margin: 15px 0 5px 0">
        {{ post.created_date|date:'d.m.Y' }} - {{post.author}}
    </p>
    <p class="text" style="margin-bottom: auto">
        {{ post.text }}
    </p>
</div>

<h2>Комментарии ({{ post.comments_posts.all.count }})</h2>

{% if request.user.is_authenticated %}
<p>Добавить комментарий</p>
<form method="POST">{% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Опубликовать</button>
</form>

{% else %}
<p style="font-size: 18px"><a href="{% url 'login_page' %}">Войдите</a> или <a href="{% url 'register_page' %}">Зарегистрируйтесь</a>,
    чтобы написать комментарий</p>
{% endif %}

{% if messages %}
{% for m in messages %}
{{m}}
{% endfor %}
{% endif %}

{% for item in post.comments_posts.all %}
<div style="padding: 10px;border-bottom:1px solid #c3c3c3;">
    <div style="display: flex; justify-content: space-between; align-items: center;
      margin-bottom: 10px">
        <p style="color:#0a58ca">{{ item.author }}</p>
        <p>{{ item.created_date|date:'d.m.Y' }}</p>
    </div>
    <p>
        Статус комментария: {{ item.status }} -
        <a class="update_status" data-url="{% url 'update_comment_status' item.id 'public' %}" href="#">Опубликовать</a>
        /
        <a class="update_status" data-url="{% url 'update_comment_status' item.id 'delete' %}" href="#">Удалить</a>
    </p>
    <p>
        {{ item.text }}
    </p>
</div>
{% endfor %}


{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $('.update_status').click(function () {
        if (confirm("Вы уверены")) {
            let url = $(this).attr('data-url')
            let tag_p = $(this).parent()
            console.log(url)

            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {
                    console.log(response)
                    console.log(tag_p.html())
                }
            })
        }
    })
</script>

{% endblock %}